<div class="row">
  <div class="large-3 medium-3">
    <h2>Setup</h2>
    <p>Set your preferred meeting day, time, and place.</p>
  </div>
  <div class="large-3 medium-3">
    <h2>Verify</h2>
    <p>Verify your account.</p>
    <ul>
      <li class="<%= @facebook_status %>">Facebook</li>
      <li class="<%= @twitter_status %>">Twitter</li>
      <li class="<%= @linkedin_status %>">LinkedIn</li>
    </ul>
  </div>
  <div class="large-3 medium-3">
    <h2>Invite</h2>
    <p>To join, you must invite three frineds who confirm their accounts.</p>
    <ol>
      <li></li>
      <li></li>
      <li></li>
    </ol>
  </div>
  <div class="large-3 medium-3">
    <h2>Attend</h2>
    <%= link_to 'Schedule a local meeting.', meetings_path %>
  </div>
</div>
