<div class="row">
  <div class="large-3 medium-3">
    <h2>Setup</h2>
    <p>Set your preferred meeting day, time, and place.</p>
      <form action="">

      <select name="" id="">
        <option>Early Morning 6am-8am</option>
        <option>Mid Morning 8am-10am</option>
        <option>Late Morning 10am-12pm</option>
      </select>
      <p>
        <label>M</label>
        <input type="checkbox" name="dayofweek" value="mon">
        <label>Tu</label>
        <input type="checkbox" name="dayofweek" value="tue">
        <label>W</label>
        <input type="checkbox" name="dayofweek" value="wed">
        <label>Th</label>
        <input type="checkbox" name="dayofweek" value="thu">
        <label>F</label>
        <input type="checkbox" name="dayofweek" value="fri">
        <label>Sa</label>
        <input type="checkbox" name="dayofweek" value="sat">
        <label>Su</label>
        <input type="checkbox" name="dayofweek" value="sun">
      </p>
      </form>
  </div>

  <div class="large-3 medium-3">
    <h2>Attend</h2>
    <%= link_to 'Schedule a local meeting.', meetings_path %>
  </div>
</div>
