<link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />

<div class="row button-margin-bottom-0">
  <div class="column large-12">
    <h1 class="">Set up</h1>
  </div>
  <div class="large-4 column">

    <div id="map" style="height: 400px;"></div>

    <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
    <script>
    // get the viz.json url from the CartoDB Editor
    // - click on visualize
    // - create new visualization
    // - make visualization public
    // - click on publish
    // - go to API tab

    window.onload = function() {
      cartodb.createVis('map', 'https://rememberlenny.cartodb.com/api/v2/viz/b44707de-211b-11e5-908e-0e0c41326911/viz.json');
    }
    </script>
  </div>
  <div class="large-8 column">
    <div class="large-12 large-centered column panel">
      <h2>1. Where are you?</h2>
      <p>Pick the neighborhoods you can meet in.</p>
      <div class="row">
        <div class="large-11 column large-centered">
          <ul class="large-block-grid-3">
            <li class="neighborhoods" name="Bushwick">Bushwick</li>
            <li class="neighborhoods" name="Downtown">Downtown</li>
            <li class="neighborhoods" name="Harlem">Harlem</li>
            <li class="neighborhoods" name="Midtown">Midtown</li>
            <li class="neighborhoods" name="Queens">Queens</li>
            <li class="neighborhoods" name="Red Hook">Red Hook</li>
            <li class="neighborhoods" name="Upper East Side">Upper East Side</li>
            <li class="neighborhoods" name="Upper West Side">Upper West Side</li>
            <li class="neighborhoods" name="Williamsburg">Williamsburg</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="large-12 large-centered column panel">
      <h2>2. What days are you free?</h2>
      <p>Select the days your mornings are open.</p>
      <div class="row">
        <div class="large-11 large-centered column">
          <ul class="large-block-grid-7">
            <li class="days-of-week" name="Monday">Mon</li>
            <li class="days-of-week" name="Tuesday">Tues</li>
            <li class="days-of-week" name="Wednesday">Wed</li>
            <li class="days-of-week" name="Thursday">Thur</li>
            <li class="days-of-week" name="Friday">Fri</li>
            <li class="days-of-week" name="Saturday">Sat</li>
            <li class="days-of-week" name="Sunday">Sun</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="large-12 large-centered column panel">

      <div class="row">
        <div class="large-12 column">
          <a href="" class="button disabled large-12 small">Submit</a>
        </div>
      </div>

    </div>
  </div>

</div>
