<div class="large-6 large-centered column text-center">

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), class: 'button large-8  round secondary large' %><br />
    <% end -%>
  <% end -%>


  <%#= render 'new_content' %>

  <%#= render "devise/shared/links" %>
</div>
