/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require foundation_and_overrides
 */

.toggle li{
  &.selected{
    opacity: 1;
  }
}

.report-el{
  padding: 5px 27px 5px 10px;
  margin: 5px 5px;
  background: rgb(173, 216, 230);
  border-radius: 5px;
  border: 1px solid rgb(153, 153, 153);
  font-size: 12px;
  display: inline-block;
  position: relative;
  &:after {
    content: '+';
    color: #6b6b6b;
    position: absolute;
    right: -3px;
    display: block;
    top: -1px;
    font-size: 21px;
    transform: rotate(45deg);
    height: 12px;
    width: 12px;
    text-align: center;
    opacity: .7;
  }
  &:hover{
    &:after {
      opacity: 1;
    }
  }
}


.button-margin-bottom-0 .button{
  margin-bottom: 0px;
}

li.days-of-week{
  opacity: .5;
  height: 3em;
  margin-bottom: 0px;
  padding-top: .75em;
  padding-bottom: .75em;
  text-align: center;
  &:hover{
    opacity: .2;
  }
}

[name="Monday"] {
  background: #D0D6D2;
}
[name="Tuesday"] {
  background: #B8C9BC;
}
[name="Wednesday"] {
  background: #B0C9BC;
}
[name="Thursday"] {
  background: #BEC9C3;
}
[name="Friday"] {
  background: #B8C9CC;
}
[name="Saturday"] {
  background: #7ABF93;
}
[name="Sunday"] {
  background: #42BF93;
}

li.neighborhoods {

  opacity: .5;
  height: 3em;
  margin-bottom: 0px;
  padding-top: .75em;
  padding-bottom: .75em;
  text-align: center;
  &:hover{
    opacity: .2;
  }
}
.neighborhoods.selected, .days-of-week.selected{
  opacity: .9;
  &:hover{
    opacity: .7;
  }
}

[name="Bushwick"] {
   background: #A6CEE3;
}
[name="Downtown"] {
   background: #1F78B4;
}
[name="Harlem"] {
   background: #B2DF8A;
}
[name="Midtown"] {
   background: #33A02C;
}
[name="Queens"] {
   background: #FB9A99;
}
[name="Red Hook"] {
   background: #E31A1C;
}
[name="Upper East Side"] {
   background: #FDBF6F;
}
[name="Upper West Side"] {
   background: #FF7F00;
}
[name="Williamsburg"] {
   background: #CAB2D6;
}
